# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.  

**Objectives:**
- List popular languages for Data Science
- Create a code cell to convert minutes to hours
- Create a markdown cell to list data science libraries

Some of the popular languages that Data Scientists use are:   
ordered list
1. R
2. Python
3. MySql

Some of the commonly used libraries used by Data Scientists include:  
ordered list
1. Pytoch
2. TensorFlow
3. Matplotlib

|Data Science Tools|
--------------------
|Jupylab|
|Winston studio|
|Jupynotebook|

### Below are a few examples of evaluating arithmetic expressions in Python

print(2+2) //result 4   
print(3-1) //result 1

In [12]:
#This a simple arithmetic expression to mutiply then add integers
print ((3*4)+5)

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

## Author
Adeoye Adela